/* Add styles here */
:root {
    --shadow-color: #000000;
}

@font-face {
    font-family: 'Game_Icns'; /* Choose a name for your font */
    font-weight: normal;
    src: url(test.ttf);
    font-style: normal;
}

@font-face {
    font-family: 'main'; /* Choose a name for your font */
    font-weight: normal;
    src: url(font.otf);
    font-style: normal;
}

body {
    color: #ffffff;
    background-color: #000000;
	font-family: 'main';
}


img {
	image-rendering: pixelated;
}

hr {
	border: 2px solid white;
}

div {
	image-rendering: pixelated;
}


.icns{
    font-family: 'Game_Icns';
}

button {
	background-color: #000000;
	color: #ffffff;
	border: 2px solid #ffffff;

  font-family: 'main';
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
  
button:hover {
	background-color: #ffffff;
	color: #555555;
  	border: 2px solid #555555;
}

button:disabled {
	pointer-events: none;
	background-color: #555555;
	color: white;
	box-shadow: 10px 10px var(--shadow-color, #000000);

}


/*TERMINAL COLORS!!!!!!*/

.black {
	color: #000000;
}

.white {
	color: #ffffff;
}

.red {
	color: #883232;
}

.cyan {
	color: #67b6bd;
}

.magenta {
	color: #8b3f96;
}

.green {
	color: #55a049;
}

.blue {
	color: #40318d;
}

.yellow {
	color: #bfce72;
}

.brown {
	color: #8b5429;
}

.dark_brown {
	color: #574200;
}

.pink {
	color: #b86962;
}

.dark_gray {
	color: #505050;
}

.gray {
	color: #787878;
}

.lime {
	color: #94e089;
}

.purple {
	color: #7869c4;
}

.light_gray {
	color: #9f9f9f;
}

.back_black {
	background-color: #000000;
	color: #ffffff;
}

.back_white {
	background-color: #ffffff;
	color: #000000;
}

.back_red {
	background-color: #883232;
	color: #ffffff;
}

.back_cyan {
	background-color: #67b6bd;
	color: #000000;
}

.back_magenta {
	background-color: #8b3f96;
	color: #ffffff;
}

.back_green {
	background-color: #55a049;
	color: #000000;
}

.back_blue {
	background-color: #40318d;
	color: #ffffff;
}

.back_yellow {
	background-color: #bfce72;
	color: #000000;
}

.back_brown {
	background-color: #8b5429;
	color: #000000;
}

.back_dark_brown {
	background-color: #574200;
	color: #ffffff;
}

.back_pink {
	background-color: #b86962;
	color: #ffffff;
}

.back_dark_gray {
	background-color: #505050;
	color: #ffffff;
}

.back_gray {
	background-color: #787878;
	color: #ffffff;
}

.back_lime {
	background-color: #94e089;
	color: #000000;
}

.back_purple {
	background-color: #7869c4;
	color: #ffffff;
}

.back_light_gray {
	background-color: #9f9f9f;
	color: #ffffff;
}

/* width */
::-webkit-scrollbar {
	width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: none; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #c3c3c3; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #212626; 
}

progress[value] {
	--color: #000; /* the progress color */
	--background: lightgrey; /* the background color */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 200px;
	margin: 5px 5px;
	background: var(--background);
}

progress[value]::-webkit-progress-bar {
	background: var(--background);
}

progress[value]::-webkit-progress-value {
	background: var(--color);
}

progress[value]::-moz-progress-bar {
	background: var(--color);
}

.topnav_top {
  border: 3px solid white;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.topnav_top a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 12px;
}

.topnav_top a:hover {
  background-color: #000;
  color: white;
}

.topnav_top a.active {
  background-color: #000;
  color: white;
}

.topnav_btm {
  border: 3px solid white;
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.topnav_btm a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 10px;
}

.topnav_btm a:hover {
  background-color: #000;
  color: white;
}

.topnav_btm a.active {
  background-color: #000;
  color: white;
}



.topnav_mnu {
  overflow: hidden;
}

.topnav_mnu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 24px;
  /*border-radius: 30px 30px 0px 0px;*/
  margin-right: 2px;
  margin-left: 2px;
  
  border: 3px solid white;
  text-decoration: none;
  font-size: 11px;
}

.topnav_mnu a:hover {
  background-color: #808080;
  color: white;
}

.topnav_mnu a.active {
  background-color: #000;
  color: white;
}


#rosebud_engine {
	width: 320px;
	height: 320px;
	border: 1px solid white;
	
    margin-left: auto;
    margin-right: auto;
	border: 2px solid white;
}

.rosebud_content {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
	border: 1px solid white;
}

/*Media full sized desktop*/
#home {
	margin-top: 72px;
	padding: 20px;
	border: 2px solid white;
	border-radius: 25px;
	width: 30%;
    margin-left: auto;
    margin-right: auto;
    
}

#account_id {
	float: right;
	font-size: 11px;
	text-decoration: underline;
}

.logo {
	width: 16px;
	height: 16px;
}


.tooltip {
	position: relative;
  }
  
  .tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 9;
	top: 100%;
	left: 50%;
	margin-left: -60px;
  }
  
  .tooltip .tooltiptext1 {
	visibility: hidden;
	width: 240px;
	height: 60px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1000;
	top: 100%;
	right: 0;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
  }



/*Media Mobile */
@media only screen and (max-width: 1200px) {
  /* For mobile phones: */
#home {
	padding: 20px;
	border: 2px solid white;
	border-radius: 25px;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}
}